@import url(http://fonts.googleapis.com/css?family=Monda:400,600,700);

body {
  font-family: 'Monda', sans-serif;
  font-size: 1em;
  line-height: 1;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

a {
    text-decoration: none;
}

@media all and (max-width: 600px){
    .nav {
        margin:0 auto;
        width: 600px;
        .nav-list {
            background: darken(#18b160, 50%);
            list-style: none;
            >li {
                float: left;
            }
            a {
                display: block;
                padding: 8px;
                margin: 0 1px 0 0;
                color: #FFFFFF;
                background: darken(#18b160, 50%);
            }
        }
    }
}

@media all and (min-width: 600px){
    .nav {
        margin:20px auto;
        width: 600px;
        .nav-list {
            list-style: none;
            >li {
                float: left;
            }
            a {
                display: block;
                padding: 8px;
                margin: 0 1px 0 0;
                color: #FFFFFF;
                background: #18b160;
            }
        }
    }
}


